<nav class="navbar navbar-default">
    <div class="container-fluid">


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{#each data}}
                    <li>
                        {{#link-to this.route}}
                            {{this.name}}
                        {{/link-to}}
                    </li>
                {{/each}}
            </ul>
        </div>

    </div>
</nav>